@charset "UTF-8";
body {
  background-color: #fff; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

footer {
  flex-shrink: 0; }

a,
.active {
  color: #469800; }
  a:hover,
  .active:hover {
    color: #3d8400; }

nav a {
  color: #666666; }

.app-icon {
  width: 40px;
  height: 40px; }

.primary {
  color: #469800; }

.secondary {
  color: #262626; }

.text-primary {
  color: #469800 !important; }

.bg-primary {
  background-color: #469800 !important; }

.bg-secondary {
  background-color: #262626 !important; }

.bg-light {
  background-color: rgba(70, 152, 0, 0.1) !important; }

.btn {
  padding-left: 1.4rem;
  padding-right: 1.4rem; }

.btn-secondary {
  background-color: #262626;
  border-color: transparent !important; }
  .btn-secondary:hover {
    background-color: #171717; }

.btn-outlined {
  background-color: transparent !important;
  border-color: #469800;
  color: #469800; }
  .btn-outlined:hover {
    background-color: #469800 !important;
    border-color: transparent;
    color: #fff !important; }

.list-style-none {
  list-style: none;
  padding-left: 0; }

.feature::before {
  content: ' ';
  display: block;
  width: 80px;
  height: 80px;
  line-height: 32px;
  vertical-align: middle;
  margin-right: 1rem;
  margin-bottom: .5rem;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }

.ar-scale::before {
  background-image: url("images/icon/measure.svg"); }

.realtime::before {
  background-image: url("images/icon/fast.svg"); }

.data::before {
  background-image: url("images/icon/database.svg"); }

.workflow-card:hover {
  background-color: #262626 !important; }
  .workflow-card:hover * {
    color: #469800; }
  .workflow-card:hover a {
    color: #fff; }

.cover img {
  opacity: .5; }

.cover:hover img {
  opacity: 1; }

.mb-10 {
  margin-bottom: 10rem !important; }
  @media screen and (max-width: 414px) {
    .mb-10 {
      margin-bottom: 6rem !important; } }

.slick-dots li.slick-active button::before,
.slick-dots li button::before {
  color: transparent; }

.slick-slide {
  height: inherit; }

.slick-dots {
  position: relative;
  bottom: inherit;
  margin-top: 20px; }

ul.slick-dots {
  list-style: none; }
  ul.slick-dots li {
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .7; }
    @media screen and (max-width: 414px) {
      ul.slick-dots li {
        width: 120px;
        height: 120px;
        margin-bottom: 50px; } }
    ul.slick-dots li.slick-active, ul.slick-dots li:hover {
      opacity: 1; }
    ul.slick-dots li:after {
      display: block;
      position: absolute;
      top: 140px;
      width: 100%;
      padding: 0 15px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      white-space: pre; }
      @media screen and (max-width: 414px) {
        ul.slick-dots li:after {
          top: 120px; } }
    ul.slick-dots li:nth-of-type(1) {
      background-image: url("images/slickdot-campanilla.png"); }
      ul.slick-dots li:nth-of-type(1):after {
        content: 'Campanilla \A 軟枝黃蟬'; }
    ul.slick-dots li:nth-of-type(2) {
      background-image: url("images/slickdot-rangoon-creeper.png"); }
      ul.slick-dots li:nth-of-type(2):after {
        content: 'Ragoon creeper \A 使君子'; }
    ul.slick-dots li:nth-of-type(3) {
      background-image: url("images/slickdot-yellow-water-lily.png"); }
      ul.slick-dots li:nth-of-type(3):after {
        content: 'Yellow water lily \A 台灣萍蓬草'; }
    ul.slick-dots li:nth-of-type(4) {
      background-image: url("images/slickdot-wedelia.png"); }
      ul.slick-dots li:nth-of-type(4):after {
        content: 'Wedelia \A 蟛蜞菊'; }

footer img {
  max-height: 28px; }
  @media screen and (min-width: 768px) {
    footer img {
      max-height: 48px; } }
